<div class="el-message-box__wrapper">
    <div class="el-message-box">
        <div class="el-message-box__title"><%= title %></div>
        <div class="el-message-box__message">
            <p><%= message %></p>
        </div>
        <div class="el-message-box__btns">
            <button type="button" class="el-button">确定</button>
        </div>
    </div>
</div>