<div class="el-autocomplete-suggestion">
    <div class="el-autocomplete-hint"><%= message %></div>
    <div class="el-autocomplete-loading">
        <i class="el-icon-loading"></i>
    </div>
    <ul class="el-autocomplete-suggestion-data"></ul>
</div>